
.second-section {
    margin: 320px auto;
  
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px 300px;
    gap: 30px;

    width: fit-content;
    max-width: 1000px;
}
  
.main-phrase {
    height: fit-content;
  
    font-family: roboto-regular-light;
    font-size: 32px;
    grid-column: 1 / 3;
}
  
.about-me {
    margin-left: 4.72vw;
    width: fit-content;
    font-family: roboto-slab-light;

    grid-column: 3 / 4;
}
  
.about-me p {
    font-size: 12px;
}
  
.about-me button {
    margin-top: 34px;
    padding: 0px;
    width: 100%;
    max-width: 300px;
  
    font-size:  24px;
    font-family: roboto-slab-light;
  
    background-color: white;
    border: none;
  
    display: flex;
    align-items: center;
}
  
.arrow-icon {
    font-size: 46px;
    color: rgba(67, 97, 238, 1);
}

@media only screen and (max-width: 1200px) {
    .second-section {
        grid-template-columns: 25vw 25vw 25vw;
        margin: 320px auto;
        justify-content: center;
    }

    .main-phrase {
        font-size: 25px;
        width: fit-content;
    }
}

@media only screen and (max-width: 825px) {
    .second-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 350px;

        margin: 320px auto;
    }

    .main-phrase {
        width: inherit;
        font-size: 20px;
        text-align: justify;

        margin-bottom: 30px;
    }

    .about-me {
        width: inherit;
        display: flex;
        flex-direction: row;

        margin: 0;
    }

    .about-me button {
        width: 850px;
    }
}