body {
    background-color: #DF1822;
}

.container-display {
    background-color: #DF1822;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.display-img {
    height: 644.5px;
    width: 925px;

    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: end;
    align-items: center;

    position: relative;
    z-index: 2;
}

.display-img p {
    font-family: roboto-slab-regular;
    font-size: 56px;
    color: white;

    margin-bottom: 100px;
}

.github-icon {
    color: white;
    font-size: 40px;

    position: absolute;
    bottom: 207.72px;
    left: 103.22px;
    transform: rotate(-20.73deg);
}

.background-icon {
    color: white;
    opacity: 20%;

    width: 500px;
    height: 564px;

    position: absolute;
    z-index: 1;

    top: 15px;
    margin-left: 450px;
}

.hour-counter-img {
    background-image: url('../../assets/1-pc-hour-counter.png');
}

.container-objective {
    font-size: 20px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.objective-title {
    position: absolute;
    top: 75px;
    left: 112px;
}

.objective-text {
    font-size: 24px;
    text-align: justify;
    margin-top: 164px;


    width: 829px;
}

.objective-icon-list {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}