p {
    font-family: roboto-slab-light;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}

.navbar {
    height: 66px;
    margin: 0px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    height: fit-content;
}

.left-side {
    width: 293px;

    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.left-side li {
    padding: 5px;
}

.hamburguer-icon {
    display: none;
}

@media only screen and (max-width: 755px){
    .left-side {
        display: none;
    }

    .hamburguer-icon {
        display: block;
        font-size: 25px;
    }
}