.icon-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    margin-top: 66px;
    margin-bottom: 74px;
}

.icon-left {
    font-size: 40px;
}