.footer {
    position: relative;
    margin-top: 201px;
    height: 400px;

    text-align: center;

    background-color: #171B2F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    font-family: roboto-regular-extra-light;
    font-size: 32px;
}

.footer h1 {
    margin: 0;
    font-family: raleway;
    font-weight: 200;
    font-size: 64px;
}

.buttons {
    z-index: 2;
    margin-top: -30px;
    margin: -30px 50px 0px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
    max-width: 1440px;
}

.info-button {
    padding: 10px;

    font-family: roboto-regular-extra-light;
    font-size: 24px;
    color: white;

    border: 1px solid white;
    border-radius: 30px;
    background-color: #171B2F;

    cursor: pointer;
}

.contact-button {
    height: 216px;
    width: 208px;

    background-color: #4361EE;
    border-radius: 50%;
    border: none;

    cursor: pointer;
}

.contact-button p {
    font-family: roboto-regular;
}

.line {
    position: absolute;
    z-index: 1;

    height: 1px;
    width: 55vw;

    right: 0;
    left: 0;
    bottom: 157px;

    margin: 0 auto;

    background-color: white;
}

@media only screen and (max-width: 1050px) {
    .buttons {
        margin-top: -15px;
    }

    .contact-button {
        height: 144px;
        width: 138.67px;
    }

    .contact-button p {
        font-size: 20px;
    }

    .line {
        bottom: 151px;
    }
}

@media only screen and (max-width: 900px) {
    .footer {
        height: 900px;
    }

    .buttons {
        margin-top: 80px;
        flex-direction: column;
        gap: 50px;
    }

    .line {
        display: none;
    }
}