/* :root {

} */

body {
  margin: 0;
  padding: 0;
  font-family: roboto-slab-regular;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts
  Raleway */ 

@font-face {
  font-family: raleway;
  src: url(../public/fonts/Raleway-VariableFont_wght.ttf);
  font-weight: normal;
}

/* Roboto */ 

@font-face {
  font-family: roboto-regular;
  src: url(../public/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-regular-light;
  src: url(../public/fonts/roboto/Roboto-Light.ttf);
}

/* Roboto Slab */ 

@font-face {
  font-family: roboto-slab-light;
  src: url(../public/fonts/roboto_slab/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: roboto-slab-regular;
  src: url(../public/fonts/roboto_slab/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: roboto-slab-bold;
  src: url(../public/fonts/roboto_slab/RobotoSlab-Bold.ttf);
}