.background-text {
  margin: 305px 54px 0px 27px ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-text p {
  font-family: roboto-slab-regular;
}

img {
  max-width: 672.028px;
  max-height: 828px;
  border-radius: 350px;

  position: absolute;
  z-index: -1;
  
  top: 32px;
  left: 0;
  right: 0;

  margin: 0 auto;
}

h1 {
  font-size: 256px;
  margin-top: 145px;
}