body {
  background-color: white;
}

.background-text {
  margin: 251px 54px;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.background-text p {
  font-family: roboto-slab-regular;
}

img {
  width: 672.028px;
  height: 828px;
  border-radius: 350px;

  position: absolute;
  z-index: -1;
  top: 32px;
  left: 0;
  right: 0;

  margin: 0 auto;
}

h1 {
  font-size: 200px;
  margin-top: 272px;
  margin-bottom: 0;

  color: white;
}

.marquee {
  mix-blend-mode: difference;
}

/* Second Section */

.second-section {
  margin: 320px 171px;

  display: flex;
  justify-content: center;
}

.main-phrase {
  width: 920px;

  font-family: roboto-regular-light;
  font-size: 32px;
}

.about-me {
  margin-left: 4.72vw;
  width: 182.028px;
  font-family: roboto-slab-light;
}

.about-me p {
  font-size: 12px;
}

.about-me button {
  margin-top: 34px;
  padding: 0px;
  width: 100%;

  font-size:  24px;
  font-family: roboto-slab-light;

  background-color: white;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  font-size: 46px;
  color: rgba(67, 97, 238, 1);
}